.formContainer{
    display: flex;
    flex-direction: row;
}
.input{
    border: none;
    background-color: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 5px 8px;
    box-sizing: border-box;
    flex: 1;
    height: 40px;
    border-radius: 10px;
}
.btn{
    background-color: rgb(10, 70, 190);
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 5px 20px;
    margin-left: 20px;
    height: 40px;
}