body{
    padding: 0;
    margin: 0;
}
.app{
    padding: 0;
    margin: 0;
    background-color: rgb(6, 45, 122);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    color: #333;
}
.title{
    color:  #fff;
    margin-bottom: 50px;
    font-size: 40pt;
}